$pastel-blue: #c0dcf8;
$pastel-orange: #fdf1e9;
$blue: #78b5f8;
$orange: #ef674a;
$gray: #666;

body {
  background-color: $pastel-blue;
  font-family: Georgia, sans-serif;
  line-height: 1.35;
}

.journal {
  display: flex;
  flex-wrap: wrap;
  margin: 3em 10em;
}

.entry {
  color: $gray;
  margin: 1.5em;
  padding: 1em;
  width: 250px;
  box-shadow: 6px 6px rgba($blue, 0.3);
  background-color: #fff;
}

.entry-title {
  color: $orange;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 1em;
  display: inline-block;
}
