@import 'template.scss';

// Topbar
.topbar {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 2em auto;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 3px 3px rgba($blue, 0.5);

  a {
    color: $light-gray;
  }

  .active {
    border-bottom: 4px solid $blue;
  }
}

// Journal
.journal {
  position: relative;
  margin: 4em auto;
  max-width: 1400px;
}

.journal-entries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.journal-add-btn {
  @extend .circle;
  position: fixed;
  right: 3em;
  bottom: 3em;
  color: #fff;
  background-color: $orange;
  padding: 1.1em;
  box-shadow: 6px 6px rgba($blue, 0.5);
}

// Entry
.entry {
  color: $gray;
  margin: 1.3em;
  padding: 1em 2em;
  width: 360px;
  background-color: #fff;
  position: relative;

  &:hover {
    .entry-buttons {
      display: flex;
    }
  }
}

.entry-buttons {
  position: absolute;
  top: -1em;
  right: -1em;
  display: none;

  button {
    @extend .circle;
    padding: 0.5em;
    background-color: $light-gray;
    color: $gray;
    box-shadow: 0 1px 3px rgba($gray, 0.5);
    margin-left: 0.5em;
  }
}

.entry-title {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  display: flex;
}

.emotions-container + .emotions-container {
  margin-top: 1em;
}

.emotion-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.emotion-value {
  margin-left: auto;
  width: 3em;
  margin-bottom: 2px;
  text-align: right;
}

.emotion-total {
  color: $blue;
  font-weight: bold;
  border-bottom: 2px solid rgba($blue, 0.15);
  margin-bottom: 0.2em;
  padding-bottom: 0.2em;
}

.entry-notes {
  white-space: pre-line;
  font-size: 0.8em;
  color: #aaa;
}

.entry-edit-buttons {
  display: flex;
  justify-content: flex-end;
}

.save-button,
.cancel-button {
  font-weight: bold;
  color: $mint;
  box-shadow: 6px 6px rgba($mint, 0.15);
  border: 2px solid $mint;
  border-radius: 4px;
  padding: 0.3em 0.7em;
  background-color: transparent;
  font-size: 1em;
  margin-top: 1.3em;
  margin-left: 0.5em;
}

// Record
.record-container {
  position: absolute;
  width: 100%;
  height: 100%;
  color: $gray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.record-row {
  box-shadow: 6px 6px rgba($blue, 0.3);
  padding: 2em 3em;
  position: relative;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 3em;
}

.record-name {
  color: $blue;
  margin: 0 0.5em;
  padding-bottom: 4px;
  border-bottom: 4px solid $blue;
}

.record-scale {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.5em 0;
}

.record-close {
  @extend .circle;
  position: absolute;
  top: -2.5em;
  right: -2.5em;
  padding: 0.5em;
  font-size: 1.3em;
  background-color: #fff;
  box-shadow: 6px 6px rgba($blue, 0.3);
}

.record-back {
  position: absolute;
  top: -2em;
  left: -3em;
  font-size: 1.3em;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  text-shadow: 3px 3px rgba($blue, 0.5);
  display: flex;
  align-items: center;
}

.record-text {
  @extend .transition-fast;
  width: 100%;
  border: 2px solid rgba($blue, 0.5);
  font-size: 1.3em;
  color: #555;
  padding: 0.6em 0.8em;
  margin-top: 0.5em;
  box-shadow: 6px 6px rgba($blue, 0.15);
}

.record-finish {
  font-size: 1.5em;
  align-self: flex-end;
  margin-top: 1.3em;
}

.scale-label {
  font-size: 1.7em;
  margin: 0 0.5em;
}

.scale-option {
  @extend .circle;
  @extend .transition-fast;
  font-size: 2em;
  height: 2em;
  width: 2em;
  background-color: rgba($mint, 0.2);
  font-weight: bold;
  color: $gray;
  margin: 0 0.4em;

  &:hover {
    background-color: $mint;
  }

  &:active {
    background-color: $blue;
  }
}
