$pastel-blue: #c0dcf8;
$pastel-orange: #fdf1e9;

$blue: #78b5f8;
$orange: #ef674a;
$mint: #91e6ca;

$deep-blue: #1e5cbe;

$gray: #666;
$light-gray: #fafafa;

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;
  line-height: 1.43;
  font-size: 17px;
  margin: 0;
}

input {
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
  outline: none;
}

button {
  border: none;
  outline: none;
  box-shadow: none;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

.rounded {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.transition-fast {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.transition-medium {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
